.heart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heart-icon {
  width: 30px;
  height: 30px;
  margin: 0px 5px;
}

.details-qr {
  width: 300px; /* Adjust size as needed */
  height: auto;
  margin: 0 auto 10px;
  margin-top: 20px;
  display: block;
}

@media (max-width: 768px) {
  .details-qr {
    width: 260px;
  }
}

.ln-invoice {
  cursor: pointer;
  margin-bottom: 0px;
  margin-top: 0px;
}