header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  font-weight: 300;
}

.bm-overlay {
  top: 0px;
  left: 0px;
  background: transparent !important;
}

/* Ensure no margins or padding are causing gaps */
.bm-menu-wrap,
.bm-menu,
.bm-item-list,
.bm-item,
.bm-item:hover {
  margin: 0;
  padding: 0;
  border: none !important; /* Forcefully remove any border */
  outline: none !important; /* Remove any outline that might appear as a border */
  box-shadow: none; /* Remove any box-shadow that might appear as a border */
}

/* Remove hover effects on burger icon */
.bm-burger-bars {
  background: #2e7a3c;
  border-radius: 5px;
  height: 3px !important; /* Adjust the height to make the lines thinner */
}

.bm-burger-bars-hover {
  background: #2e7a3c; /* Match the background color to remove hover effect */
}

.bm-logo-container {
  width: 30%;
}

/* Remove hover effects on burger icon */
.bm-cross {
  background: #2e7a3c !important;
  border-radius: 5px !important;
  width: 3px !important;
  height: 36px !important; /* Adjust the height to make the lines thinner */
}

.bm-cross-hover {
  background: #2e7a3c !important; /* Match the background color to remove hover effect */
}

.bm-menu {
  position: relative;
  height: 100%;
  background: #ffffff;
  background-image: url('../assets/images/ilustrace2.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: 250px;
  padding: 1.5em 1.5em 0;
  font-size: 1.4em;
  font-family: FenomenSans;
  font-weight: 400;
  padding-top: 100px;
}

.bm-menu-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 10px; /* Adjust the width of the shadow */
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3); /* Add shadow on the left */
  opacity: 0; /* Hide by default */
  transition: all 1s ease;
}

/* Show the shadow when the menu is open */
.menu-open::before {
  opacity: 1; /* Show when menu is open */
}

.bm-morph-shape {
  fill: #ffffff;
}

.bm-item-list {
  color: #2e7a3c;
  padding: 0.8em;
  height: 50% !important;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  color: #2e7a3c;
  margin-bottom: 18px !important;
}

.menu-item-active {
  text-decoration: underline;
  text-underline-position: below;
  text-underline-offset: 7px;
}

/* Hide the mobile menu on larger screens */
.bm-menu-wrap {
  display: none;
}

.bm-burger-button {
  display: none; /* Hide the burger button by default */
}

.bm-cross-button {
  display: none; /* Hide the cross button by default */
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .bm-menu-wrap {
    display: flex;
    flex-direction: column;
    top: 0px; 
  }

  .bm-cross-button {
    display: block !important; /* Show the burger button on small screens */
    position: fixed !important;
    width: 36px !important;
    height: 36px !important;
    right: 42px !important;
    top: 27px !important;
    border-radius: 10% !important;
    z-index: 2000 !important;
  }

  .bm-burger-button {
    display: block; /* Show the burger button on small screens */
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
    border-radius: 10%;
  }

  .bm-burger-bars-hover {
    opacity: 1 !important;
  }
}

.logo-container {
  text-align: center;
}

.logo {
  width: 100px; /* Adjust based on your logo's design */
  color: #ffffff;
  fill: #ffffff;
}

.logo-text {
  margin-top: 10px;
  font-size: 20px;
  color: #ffffff;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.nav-item {
  flex: 1; /* Ensure all nav items take equal space */
  display: flex;
  justify-content: center;
  position: relative; /* Needed for the pseudo-elements */
}

.nav-link {
  text-decoration: none;
  color: #2e7a3c;
  font-size: 18px;
  padding: 15px 15px;
  border-radius: 20px 20px 0px 0px;
  width: 85px;
  text-align: center;
  position: relative; /* Needed for the pseudo-elements */
  z-index: 1; /* Ensure it is above the pseudo-elements */
  transition: all 0.0s ease;
}