.details-container {
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

.details-header {
  font-size: 36px;
  font-weight: normal;
  color: #2e7a3c; /* Adjust the color to match the style */
  margin-bottom: 100px;
}

.details-point {
  margin-bottom: 80px;
}

.details-icon {
  width: 50px; /* Adjust size as needed */
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.details-title {
  font-size: 24px;
  font-weight: normal;
  color: #2e7a3c; /* Adjust the color to match the style */
  margin: 10px 0;
  font-weight: 400;
}

.details-description {
  font-size: 16px;
  color: #6d6e71;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 300;
}
